
.glass-card {
  background: transparent;
  border-radius: 2rem;
  border: 1px solid rgba(182, 182, 182, 0.223);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  pointer-events: none;
  z-index: 1;
  backdrop-filter: none;
}